[Desktop Entry]
Name=Root Terminal
Comment=Opens a terminal as the root user, using gksu to ask for the password
Encoding=UTF-8
Exec=gksu /usr/bin/x-terminal-emulator
Icon=gksu-root-terminal
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;System;
NoDisplay=true
X-Ubuntu-Gettext-Domain=gksu
