[GdmGreeterTheme]
Greeter=HumanCircle.xml
Name=Human Circle of Friends
Description=Ubuntu Optional Welcome Theme
Author=Jeff Waugh, Mark Shuttleworth, Jozef Mak, Jonathan Austin, Frank Schoep
Copyright=(c) 2004-2006 Canonical Ltd.
Screenshot=screenshot.png
