#! /bin/sh

set -e

. /usr/share/debconf/confmodule

FILE='/etc/defoma/config/x-ttcidfont-conf.conf'

X_TRUETYPE_METHOD=
if [ -f $FILE ]; then
  sed -e 's/^SPACING_FOR_FIXED.*//' $FILE > $FILE.new
  mv $FILE.new $FILE
  . $FILE
fi

if [ "$X_TRUETYPE_METHOD" = xtt ] || [ "$X_TRUETYPE_METHOD" = freetype ]; then
    db_set x-ttcidfont-conf/tt_backend  $X_TRUETYPE_METHOD
fi

db_input medium x-ttcidfont-conf/tt_backend || true
db_go

db_get x-ttcidfont-conf/tt_backend || true
if [ "$RET" = xtt ]; then
 db_input low x-ttcidfont-conf/xtt_vl || true
 db_go
fi

