
[Desktop Entry]
Encoding=UTF-8
Name=Distort
Comment=Grabs an image of the screen, and then lets a transparent lens wander around the screen, magnifying whatever is underneath. Written by Jonas Munsin; 1998.
TryExec=distort
Exec=distort -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
