
[Desktop Entry]
Encoding=UTF-8
Name=Fiberlamp
Comment=Draws a groovy rotating fiber optic lamp. Written by Tim Auckland; 2005.
TryExec=fiberlamp
Exec=fiberlamp -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
