
[Desktop Entry]
Encoding=UTF-8
Name=Galaxy
Comment=This draws spinning galaxies, which then collide and scatter their stars to the, uh, four winds or something. Written by Uli Siegmund, Harald Backert, and Hubert Feyrer; 1997.
TryExec=galaxy
Exec=galaxy -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
