
[Desktop Entry]
Encoding=UTF-8
Name=MetaBalls
Comment=Draws two dimensional metaballs: overlapping and merging balls with fuzzy edges. http://en.wikipedia.org/wiki/Metaballs Written by W.P. van Paassen; 2003.
TryExec=metaballs
Exec=metaballs -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
