
[Desktop Entry]
Encoding=UTF-8
Name=ShadeBobs
Comment=This draws smoothly-shaded oscillating oval patterns that look something like vapor trails or neon tubes. Written by Shane Smit; 1999.
TryExec=shadebobs
Exec=shadebobs -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
