
[Desktop Entry]
Encoding=UTF-8
Name=Swirl
Comment=Flowing, swirly patterns. Written by M. Dobie and R. Taylor; 1997.
TryExec=swirl
Exec=swirl -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
