
[Desktop Entry]
Encoding=UTF-8
Name=XLyap
Comment=This generates pretty fractal pictures via the Lyapunov exponent. http://en.wikipedia.org/wiki/Lyapunov_exponent Written by Ron Record; 1997.
TryExec=xlyap
Exec=xlyap -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
